.slide{
    width: 100%;
    height: 415px;
    position: relative;
    margin-bottom: 40px;
}
.mainImg {
    width: 100%;
    height: 100%;
    transition: all 500ms;
    object-fit: cover;
    border-radius: 25px;
  }
.actions {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
  .active {
    border: 2px solid #1db9b9;
    transition: all 300ms;
  }
  .actions button {
    background: #0000003d;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }
  .actions button:active {
    background: #000000a2;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }
  .chevronLeft{
    height: 70%;
  }
  .chevronRight{
    height: 70%;
  }
   /************* Mobile *******************/
   @media (max-width: 768px){
    .slide{
      width: 100%;
      height: 315px;
      position: relative;
      margin-bottom: 40px;
  }
    }
   @media (max-width: 450px){
    .slide{
      width: 100%;
      height: 215px;
      position: relative;
      margin-bottom: 40px;
  }
    }